  <% 
    if (typeof type != "undefined" && type == 'page') {
      var classes = 'four-fifths';
    }
    else {
      var classes = 'two-fifths';
    }
  %>
  <footer id="footer" class="<%= classes %>">
    <div class="wrapper">
      Built by <a href="http://flipside.org/">Flipside</a>, using Express, Tilemill, Morris and <a href="/about#technology">much more</a>.<br />
      Data sources: ICNF & Igeo. Find out more <a href="/data">about the data</a>.
    </div>
  </footer>
  