  <%
    if (typeof page_meta != "undefined" && page_meta.type == 'page') {
      var classes = 'four-fifths';
    }
    else {
      var classes = 'two-fifths';
    }
  %>
  <header id="header" class="<%= classes %> float-right">
    <div class="wrapper clearfix">
      <h1><a href="/">Incêndios</a> <small>by Flipside</small></h1>
      <nav>
        <% var menu = 'main'; if (menu in menus) { %>
          <ul>
            <% menus[menu].forEach(function(menu_item){ %>
              <li><a href="/<%= menu_item.language %>/<%= menu_item.url %>"><%= menu_item.title %></a></li>
            <% }) %>
          </ul>
        <% } %>
      </nav>
    </div>
  </header>
