    <header class="row-fluid">
      <h1 class="site-name"><a href="/">Incêndios</a> <small>a project by flipside</small></h1>
      
      <nav id="main-menu">
        <ul>
          <li><a href="/page/about">About</a></li>
          <li><a href="/about">Link2</a></li>
        </ul>
      </nav>
    </header>