  <% 
    if (typeof type != "undefined" && type == 'page') {
      var classes = 'four-fifths';
    }
    else {
      var classes = 'two-fifths';
    }
  %>
  <header id="header" class="<%= classes %>">
    <div class="wrapper clearfix">
      <h1><a href="/">Incêndios</a> <small>by Flipside</small></h1>
      <nav>
        <ul>
          <li><a href="/stories">Stories</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/data">Data</a></li>
        </ul>
      </nav>
    </div>
  </header>