<!DOCTYPE html>
<html>
<head>
  <title>Incêndios - <%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8" />
  <meta name="description" content="An overview of 11 years of fires in Portugal">
  <meta name="author" content="Flipside">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
  <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  <link rel="stylesheet" href="/lib/chosen/chosen/chosen.css" />
  <link rel="stylesheet" href="/lib/morris/morris.css">
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
</head>
<body>