<nav id="share-page" class="dropdown">
  <ul class="top-level">
    <li class="icon share">
      <a class="icon">&#59157;</a>
      <ul class="level-one">
        <li class="facebook">
          <a href="https://www.facebook.com/sharer/sharer.php?u={URL}" target="_blank">Facebook</a>
        </li>
        <li class="twitter">
          <a href="https://twitter.com/share?url={URL}" target="_blank">Twitter</a>
        </li>
        <li class="google-plus">
          <a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'; return false;">Google+</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>