# OS file crap
.DS_Store

# Files generated in test folder
data_wrangling/tests/ifdata*

# Aptana .project
.project

npm-debug.log
app/.htaccess
app/config/global.json
app/config/i18n.json
app/config/mongodb.json
app/nohup.out
