[submodule "app/public/lib/chosen"]
	path = app/public/lib/chosen
	url = git@github.com:harvesthq/chosen.git
[submodule "app/locales"]
	path = app/locales
	url = git@bitbucket.org:flipside-org/incendios-i18n.git
[submodule "app/public/lib/morris"]
	path = app/public/lib/morris
	url = git@github.com:oesmith/morris.js.git
[submodule "app/public/lib/jtable"]
	path = app/public/lib/jtable
	url = git@github.com:hikalkan/jtable.git
