#header {
	background-color: #ccc;
}

h1.site-name {
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 1160px;
}

#map {
	height: 450px;
	width: 60%;
}

#main-content {
	background-color: #eee;
	float: right;
	height: 450px;
	width: 40%;
}

article {
	padding: 20px;
}

#footer {
	background-color: #ccc;
}

@media screen and (max-width: 600px) {
	#map,
	#main-content {
		float: none;
		width: auto;
	}
}

/**
 * Mirco clearfix 
 * http://nicolasgallagher.com/micro-clearfix-hack/

/**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}